<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panel Administrador</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="../../Complementos/css/AdministradorEstilos.css" />


</head>

<body>

  <!-- Header -->
  <header class="header">
    <div class="header-content">

      <img src="../../Complementos/img/logoof.png" alt="Logo" class="header-logo" />

    </div>
  </header>
  <!-- Sidebar overlay -->


  <!-- Este es el munu y solo lo invocamos por el id, primero debemos exportar la funcion que esta abajo -->

  <!-- Contenido principal -->
  <main class="contenedor-main" id="mainContent">
    <div class="card-grid">

      <a href="../../View/Administrador/Empleados.html" class="custom-card">
        <div class="icon-section bg-light-brown icon-brown"><i class="fas fa-user-shield"></i></div>
        <strong>Administradores</strong>
        <p>Ver todos</p>
      </a>

      <a href="../Administrador/ListaPadecimientos.html" class="custom-card">
        <div class="icon-section bg-light-green icon-green"><i class="fas fa-heartbeat"></i></div>
        <strong>Padecimientos</strong>
        <p>Registrar / Ver</p>
      </a>

      <a href="../Administrador/ListaClientes.html" class="custom-card">
        <div class="icon-section bg-light-yellow icon-olive"><i class="fas fa-users"></i></div>
        <strong>Clientes</strong>
        <p>Gestión de clientes</p>
      </a>


    </div>
  </main>


  <script type="module">
    import { renderAdminLayout } from "../../Controler/Administrador/AdminLayout.js";
    renderAdminLayout();
  </script>
  <!-- Script -->
  <!-- Aqui mandamos a traer el menu -->

</body>

</html>