<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Panel Administrador</title>
   <link rel="stylesheet" href="../../Complementos/css/indexEntrenador.css" />
  
</head>
<body>

  <header>
<img src="../../Complementos/img/logoof.png" alt="Logo" class="header-logo" />
  </header>

  <div class="container">
    <aside>
      <div>
        <div class="search-bar">
          <input type="text" placeholder="Search" />
        </div>
        <a href="#"><i class="fas fa-home"></i>Inicio</a>
        <a href="#"><i class="fas fa-user"></i>Clientes</a>
        <a href="#"><i class="fas fa-dumbbell"></i>Ejercicios</a>
      </div>
      <a href="#"><i class="fas fa-sign-out-alt"></i>Cerrar sesión</a>
    </aside>

    <main class="main-content">
      <div class="cards">
        <div class="card">
          <i class="fas fa-dumbbell" style="color: brown;"></i>
          <strong>Ejercicios</strong>
          <p>30</p>
        </div>
        <div class="card">
          <i class="fas fa-user" style="color: olive;"></i>
          <strong>Clientes</strong>
          <p>1000</p>
        </div>
        <div class="card">
          <i class="fas fa-running" style="color: sienna;"></i>
          <strong>Rutinas</strong>
          <p>30</p>
        </div>
      </div>
    </main>
  </div>

  <footer>
    <img src="/Proyecto sistemas/Complementos/img/facebook.png" alt="Facebook">
    <img src="/Proyecto sistemas/Complementos/img/instagram.png" alt="Instagram">
<script type="module" src="../../Controler/Loguin/LoginFunciones.js"></script>

  </footer>

</body>
</html>
