@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PowerVital</title>
    <!-- Vincula Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Vincula tu archivo de estilos CSS -->
    <link rel="stylesheet" href="~/css/estilos.css" />
</head>

<body>
  
    <div class="contenedor-main py-3 px-3">
        <div class="main-container container-fluid mt-2">
            <div id="carouselId" class="carousel slide mb-4" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true"
                            aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../img/daniel-apodaca-WdoQio6HPVA-unsplash.jpg" class="d-block w-100 img-banner"
                             alt="Gimnasio con luces LED" />
                    </div>
                    <div class="carousel-item">
                        <img src="../img/danielle-cerullo-CQfNt66ttZM-unsplash.jpg" class="d-block w-100 img-banner"
                             alt="Chica levantando pesas" />
                    </div>
                    <div class="carousel-item">
                        <img src="../img/john-arano-h4i9G-de7Po-unsplash.jpg" class="d-block w-100 img-banner"
                             alt="Entrenamiento en grupo" />
                    </div>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Anterior</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Siguiente</span>
                </button>
            </div>
        </div>

        <div class="row mb-4 px-3">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="AdminListaEmpleados.html" class="custom-card d-flex align-items-center text-decoration-none">
                    <div class="icon-section bg-light-brown d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-fill icon-brown"></i>
                    </div>
                    <div class="text-section px-3">
                        <h6 class="mb-1 fw-bold text-dark">Administradores</h6>
                        <p class="mb-0 text-muted">30</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#" class="custom-card d-flex align-items-center text-decoration-none">
                    <div class="icon-section bg-light-green d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-fill icon-green"></i>
                    </div>
                    <div class="text-section px-3">
                        <h6 class="mb-1 fw-bold text-dark">Padecimientos</h6>
                        <p class="mb-0 text-muted">30</p>
                    </div>
                </a>
            </div>

            <!-- Clientes -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#" class="custom-card d-flex align-items-center text-decoration-none">
                    <div class="icon-section bg-light-yellow d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-fill icon-olive"></i>
                    </div>

                    <div class="text-section px-3">
                        <h6 class="mb-1 fw-bold text-dark">Clientes</h6>
                        <p class="mb-0 text-muted">1000</p>
                    </div>
                </a>
            </div>
            <!-- Rutinas -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <a href="#" class="custom-card d-flex align-items-center text-decoration-none">
                    <div class="icon-section bg-light-pink d-flex align-items-center justify-content-center">
                        <i class="bi bi-person-fill icon-brown"></i>
                    </div>
                    <div class="text-section px-3">
                        <h6 class="mb-1 fw-bold text-dark">Rutinas</h6>
                        <p class="mb-0 text-muted">300</p>
                    </div>
                </a>
            </div>
        </div>

    </div>

    <!-- Vincula Bootstrap JS y Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>